.content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 20%;
}

/* style for the Three.js canvas */
#three-canvas-background {
    position: fixed; /* fixes it to the viewport */
    top: 0;
    left: 0;
    outline: none;
    z-index: -1; /* place behind canvas */
}
